* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82ada9;
}

input,
button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: 0;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

::-moz-selection {
  background: #4f9b94;
  color: #fff;
}

::selection {
  background: #4f9b94;
  color: #fff;
}

.container {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px;
}

.game-card {
  color: #fff;
  padding: 10px;
  margin-bottom: 40px;
}

.game-title {
  font-size: 34px;
  margin-bottom: 20px;
}

.game-desc {
  font-size: 18px;
}

.game-form {
  margin-bottom: 30px;
}

.form-input,
.form-button {
  font-weight: 700;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.form-input {
  width: 150px;
  padding: 10px;
  margin-right: 10px;
  color: #00251a;
}

.form-input:hover {
  box-shadow: 5px 5px 10px #4f9b94;
}

.form-button {
  width: 80px;
  color: #fff;
  background-color: #80ccc4;
  transition: all 100ms ease-in-out;
}

.form-button:hover {
  background-color: #4f9b94;
  cursor: pointer;
  box-shadow: 5px 5px 10px #4f9b94;
}

.game-logs {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
